<body>
  <div ngxUiLoaderBlurred blur="10">
    <!-- This page content will be blurred/frosted when foreground loader is showed -->
    </div>
    <ngx-ui-loader></ngx-ui-loader>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
</body>
