<div class="container">
    <div class="row">
        <h2>Employees</h2>
        <hr>
    </div>
    <div class="row">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
                <label for="id">Employee Id</label>
                <input formControlName="id" id="id" type="text" class="form-control" aria-describedby="idHelp">
                <small id="idHelp" class="form-text text-muted">Enter the Id of the Employee or leave it blank to
                    retrieve all.</small>
                <div *ngIf="f.id.touched && f.id.invalid" class="alert alert-danger">
                    <div *ngIf="f.id.errors.pattern">Enter only numbers greater than zero.</div>
                </div>
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Search</button>
        </form>
    </div>
    <div class="row" *ngIf="employees.length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Contract Type</th>
                    <th scope="col">Role</th>
                    <th scope="col">Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees; index as i;">
                    <th scope="row">{{i+1}}</th>
                    <td>{{employee.id}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.contractTypeName}}</td>
                    <td>{{employee.roleName}}</td>
                    <td>{{employee.salary | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>